.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    padding: 10px;
    transition: transform 0.3s, color 0.3s;
    font-size: 2em; /* Увеличиваем размер иконки */
}

.icon-button:hover {
    transform: scale(1.2); /* Увеличиваем размер при наведении */
}

.icon-button:focus {
    outline: none; /* Убираем рамку при фокусе */
    color: #FFD700; /* Измените цвет при фокусе */
}

.icon-button:nth-child(1):hover { /* Зелёный цвет для кнопки "Согласиться" */
    color: #32CD32;
}

.icon-button:nth-child(2):hover { /* Красный цвет для кнопки "Отказаться" */
    color: #FF4500;
}